@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@300;700&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
.menu-mobile{
	display: none;
}
.footer-mobile{
	display: none;
}
h1{
	font-family: Montserrat;
	position: absolute;
	font-size: 1.5vw;
	padding: 4vh 0 0 10vw;
	font-weight: 900;
	width: 13vw;
}
.bar-top{
	background-color: white;
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 6vw;
	margin-top: 0;
}
.background-header{
	margin-top: 2.5vh;
	background-image: url("media/background-header.png");
	background-size: 100%;
	width: 100vw;
	height: 40vw;
}
h2{
	font-size: 3.5vw;
	color: white;
	font-weight: 900;
	padding: 15vw 0 0 10vw;
}
header p{
	color: white;
	font-size: 2vw;
	font-weight: 200;
	margin: 4vw 0 0 10vw;
}
ul{
	font-weight: 400;
	position: absolute;
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	width: 30vw;
	margin-left: 60vw;
	margin-top: 3vw;
}
li:hover{
	cursor: pointer;
	font-weight: 900;
}
.background-header{
	position: absolute;
	margin-top: 6vw;
	background-image: url(media/background-header.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 80vw;
}
.background-header p{
	font-size: 1.5vw;
	color: white;
	font-weight: 200;
	margin:3vw 0 0 10vw;
}
main{
	position: absolute;
	width: 80vw;
	height: 65vw;
	margin: 50vw 0 0 10vw;
}
main .line1{
	display: flex;
	justify-content: space-around;
}
main img{
	width: 19vw;
}
main .line2{
	padding-top: 1vw;
	display: flex;
	justify-content: space-around;
}
main .line3{
	padding-top: 1vw;
	display: flex;
	justify-content: space-around;
}
footer{
	background-color: #D3D3D3;
	width: 100%;
	height: 7vw;
	position: absolute;
	top:113vw;
}
footer section{
	width: 30vw;
	position: absolute;
	margin: 3vw 0 0 8vw;
}
footer section img{
	margin-left: 1.8vw;
}
h3{
	font-weight: 700;
	position: absolute;
	margin: 0.6vw 0 0 30vw;
}
footer section p{
	font-size: 0.6vw;
	width: 50vw;
	position: absolute;
	margin: 0.5vw 0 0 37vw;
}
footer section .p2{
	font-size: 0.6vw;
	width: 50vw;
	position: absolute;
	margin: 1.3vw 0 0 37vw;
}
@media(max-width: 1350px) and (min-width: 1200px){
	h3{
		margin: 0.6vw 0 0 40vw;
	}
	footer section img{
		width: 2vw;
	}
	.facebook-icon{
		width: 1vw;
	}
	footer section p{
		width: 40vw;
		font-size: 0.7rem;
		position: absolute;
		margin: 0.5vw 0 0 50vw;
	}
	footer section .p2{
		font-size: 0.6vw;
		width: 40vw;
		position: absolute;
		margin: 1.3vw 0 0 50vw;
	}
}
@media(max-width: 1199px) and (min-width: 870px){
	ul{
		margin-left: 45vw;
		width: 45vw;
	}
	h1{
		position: absolute;
		font-size: 1.5rem;
		padding: 1.5vw 0 0 10vw;
		font-weight: 900;
		width: 13vw;
	}
	h3{
		margin: 0vw 0 0 33vw;
	}
	footer section img{
		width: 3vw;
	}
	.facebook-icon{
		width: 1.5vw;
	}
	footer section p{
		width: 45vw;
		font-size: 1vw;
		position: absolute;
		margin: 0.5vw 0 0 45vw;
	}
	footer section .p2{
		display: none;
	}
}
@media(max-width: 869px) and (min-width: 700px){
	h1{
		padding-top: 1vw;
		font-size: 3vw;
	}
	ul{
		width: 60vw;
		margin-left: 40vw;
	}
	footer section img{
		width: 2vw;
	}
	.facebook-icon{
		width: 1vw;
	}
	footer section p{
		width: 40vw;
		font-size: 1vw;
		position: absolute;
		margin: 0.5vw 0 0 45vw;
	}
	footer section .p2{
		display: none;
	}
	h3{
		font-size: 1.5vw;
	}
}
@media(max-width: 699px) and (min-width: 540px){
	h1{
		padding-top: 1vw;
		font-size: 3vw;
	}
	ul{
		margin-top: 2vw;
		width: 60vw;
		margin-left: 35vw;
	}
	main section{
		width: 82vw;
	}
	main section img{
		width: 40vw;
	}
	.line1{
		flex-wrap: wrap;
	}
	.line1 img{
		margin-top: 1vw;
	}
	.line2{
		flex-wrap: wrap;
	}
	.line2 img{
		margin-top: 1vw;
	}
	.line3{
		flex-wrap: wrap;
	}
	.line3 img{
		margin-top: 1vw;
	}
	footer section img{
		width: 2vw;
	}
	.facebook-icon{
		width: 1vw;
	}
	footer section p{
		width: 40vw;
		font-size: 1vw;
		position: absolute;
		margin: 0.5vw 0 0 45vw;
	}
	footer section .p2{
		display: none;
	}
	h3{
		display: none;
	}
	footer{
		top: 310vw;
	}
}
@media(max-width: 539px) and (min-width: 300px){
	ul{
		display: none;
	}
	footer section img{
		display: none;
	}
	footer section p{
		display: none;
	}
	h3{
		display: none;
	}
	h1{
		padding-left: 50vw;
		padding-top: 2.5vw;
		font-size: 5vw;
	}
	.menu-mobile{
		position: absolute;
		display: flex;
		height: 6vh;
		width: 40vw;
		background-color: black;
	}
	.menu-mobile img{
		width: 5vw;
		height: 2.5vh;
		margin:2.5vw 0 0 10vw;
	}
	.background-header{
		background-image: url(media/back-header-mobile.png);
		top: 2vh;
		width: 100%;
		height: 150vw;
	}
	h2{
		font-size: 10vw;
		margin-top: 85vw;
	}
	.background-header p{
		font-size: 3.5vw;
		margin-top: 7vw;
	}
	main{
		margin-top: 160vw;
		width: 80vw;
	}
	main section img{
		width: 80vw;
	}
	.line1{
		flex-wrap: wrap;
	}
	.line1 img{
		margin-top: 3vw;
	}
	.line2{
		flex-wrap: wrap;
	}
	.line2 img{
		margin-top: 3vw;
	}
	.line3{
		flex-wrap: wrap;
	}
	.line3 img{
		margin-top: 3vw;
	}
	footer{
		margin-top: 1050vw;
		width: 80vw;
		margin-left: 10vw;
		background-color: #7FDBD4;
	}
	.footer-mobile{
		display: flex;
		justify-content: space-evenly;
	}
	.footer-mobile img{
		margin-top: 2vw;
		width: 4vw;
		height: 4vw;
	}
	h4{
		font-size: 4vw;
		position: absolute;
		margin: 10vw 60vw 0 0;
	}
	h5{
		font-weight: 400;
		width: 55vw;
		font-size: 3vw;
		position: absolute;
		margin: 15vw 25vw 0 0;
	}
	.footer-mobile p{
		width: 55vw;
		font-size: 3vw;
		position: absolute;
		margin: 27vw 25vw 0 0;
	}
}